<!DOCTYPE html>
{% load django_govbrds %}
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:'pt_br' }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page title -->
    <title>{% block govbrds_title %}django-govbrds template title{% endblock %}</title>
    <!-- GovBR-DS CSS -->
    <link rel="stylesheet" href="{% static '/govbrds3/css/style.min.js' %}">
    

  {% block govbrds_extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
    {% block govbrds_before_content %}{% endblock %}
    {% block govbrds_content %} CONTENT {% endblock %}
    {% block govbrds_after_content %}{% endblock %}
</body>
</html>